<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Logo icon/NoteSwap transparent logo  05.png">
    <title>NoteSwap</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'hudai css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'hudai css/package.css' %}">
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="{% url 'index' %}" class="logo">NoteSwap</a>
            <nav class="navbar">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'index' %}">About</a>
                <a href="{% url 'notes' %}">Notes</a>
                <a href="{% url 'upload' %}">Upload</a>
                <a href="{% url 'user_profile' %}">Profile</a>
            </nav>
            <div id="menu-btn" class="fas fa-bars"></div>
        </section>
    </header>

<section>
  <div class="wrapper">
        <div class="single-price">
            <h1>Free</h1>
            <div class="price">
                <h2>0৳</h2>
            </div>
            <div class="deals">
                <h4>Access to all notes</h4>
                <h4></h4>
                <h4>Email support</h4>
                <h4>Community support</h4>
            </div>
            <a href="{% url 'coming_soon' %}">Select</a>
        </div>
        <div class="single-price">
            <h1>Monthly</h1>
            <div class="price">
                <h2> 249৳</h2>
            </div>
            <div class="deals">
                <h4>Add Free</h4>
                <h4>Advance Search system</h4>
                <h4>Quick Problem Solve</h4>
            </div>
            <a href="{% url 'coming_soon' %}">Select</a>
        </div>
        <div class="single-price">
            <h1>Yearly</h1>
            <div class="price">
                <h2>2999৳</h2>
            </div>
            <div class="deals">
                <h4>Add Free</h4>
                <h4>Advance Search system</h4>
                <h4>Quick Problem Solve</h4>
            </div>
            <a href="{% url 'coming_soon' %}">Select</a>
        </div>
    </div>
</section>

<footer class="footer">
    <section>
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credit">

            NoteSwap &copy; 2024 | All Rights Reserved.
        </div>
    </section>
</footer>
</body>
</html>
