:root {
    --green: #00E77F;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
}

* {
    text-decoration: none;
    margin: 0; /* Reset margin and padding for all elements */
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background: #00A36C;
}

/* Pricing Section Styles */
.wrapper {
    width: 900px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.single-price {
    width: 32%;
    background: #262626;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.9s;
    position: relative;
}

.price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals {
    margin-top: 10%;
}

.single-price h1 {
    font-size: 18px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
}

.price h2 {
    font-size: 38px;
    color: #fff;
}

.deals h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    line-height: 1;
}

.single-price:hover {
    background: #da4357;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    z-index: 1;
    border-radius: 25px;
}

.single-price:hover .price {
    border-color: #fff;
}

.single-price a {
    text-decoration: none;
    background: #da4357;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

.single-price:hover a {
    background: #262626;
    color: #fff;
}
