@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --green:#00E77F;
    --white:#fff;
    --light-white:#aaa;
    --black:#3d3d3d;
    --light-bg:#4b4b4b;
}

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}

*::selection{
    background-color: var(--white);
    color: var(--black);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 5rem;
}

body{
    background-color: var(--black);
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.btn:hover{
    background-color: var(--white);
    color: var(--black);
}

.heading{
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
}

.heading span{
    color: var(--green);
    text-transform: uppercase;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--light-bg);
}

.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--white);
}

.header .flex .navbar a{
    margin-left: 2rem;
    color: var(--light-white);
    font-size: 2rem;
}

.header .flex .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    cursor: pointer;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}

/* ===== =====>> Css Variables  <<===== =====  */
:root {
  --f1-color: #fff;
  --f2-color: #000;
  --f3-color: rgba(0, 0, 0, 0.8);
  --f4-color: rgba(0, 0, 0, 0.6);
  --f5-color: #0099cc;
  --f6-color: #88cee6;

  --bg1-color: #fff;
  --bg2-color: #000;
  --bg3-color: #33ccff;
  --bg4-color: #33cc33;
  --bg5-color: #0099cc;
  --bg6-color: rgba(0, 0, 0, 0.4);
  --bg7-color: rgba(0, 0, 0, 0.2);

  --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);

  --xxxl-fs: 2.2rem;
  --xxl-fs: 1.8rem;
  --xl-fs: 1.6rem;
  --l-fs: 1.4rem;
  --m-fs: 1.2rem;
  --s-fs: 1.1rem;
  --xs-fs: 1rem;

  --m-2-5: 2.5rem;
  --m-1-8: 1.8rem;
  --m-1-5: 1.5rem;
  --m-0-6: 0.6rem;
  --m-0-5: 0.5rem;
  --m-0-3: 0.3rem;

  --p-2-5: 2.5rem;
  --p-1-5: 1.5rem;
  --p-1-0: 1rem;
  --p-0-8: 0.8rem;
  --p-0-5: 0.5rem;
  --p-0-4: 0.4rem;
  --p-0-3: 0.3rem;

  --green: #00E77F;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
}

 /*===== =====>>  Body Css  <<===== =====  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg1-color);
}

/*.header {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 1000;*/
/*  padding: 2rem;*/
/*  background-color: var(--light-bg);*/
/*}*/

/*.header .flex {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*}*/

/*.header .flex .logo {*/
/*  margin-left: 16.3rem;*/
/*  font-size: 2.5rem;*/
/*  color: var(--white);*/
/*}*/

/*.header .flex .navbar {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 2rem;*/
/*  margin-left: 50rem;*/
/*}*/

/*.header .flex .navbar a {*/
/*  color: var(--light-white);*/
/*  font-size: 2rem;*/
/*  text-decoration: none;*/
/*}*/

/*.header .flex .navbar a:hover {*/
/*  color: var(--green);*/
/*}*/

/* ===== =====>>  Body Main-Background Css  <<===== =====  */
.main_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2AAA8A;
  z-index: -1;
}

/* ===== =====>>  Main-Container Css  <<===== =====  */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills timeline_about";
  width: 85%;
  height: 90vh;
  background: #fff;
  padding: var(--p-1-5);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}

/* ===== =====>>  Grid Area Assignments <<===== ===== */
header {
  grid-area: header;
}

.userProfile {
  grid-area: userProfile;
}

.userDetails {
  grid-area: userDetails;
}

.work_skills {
  grid-area: work_skills;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline_about {
  grid-area: timeline_about;
}

/* ===== =====>>  User Main-Profile Css  <<===== ===== */
.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userProfile .profile figure img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

/* ===== =====>>  Work & Skills Css  <<===== ===== */
.work_skills .heading {
  font-size: var(--xs-fs);
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  margin-bottom: var(--m-1-5);
  position: relative;
}

.work_skills .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 88%;
  height: 0.1rem;
  background: var(--bg6-color);
}

.work_skills h1 {
  font-size: var(--l-fs);
  color: var(--f3-color);
  margin-bottom: var(--m-0-6);
}

.work_skills span {
  font-weight: 700;
  font-size: var(--s-fs);
  color: var(--f5-color);
  background: #e6f2ff;
  padding: var(--p-0-4) var(--p-1-0);
  border-radius: 0.4rem;
}

.work_skills p {
  margin-bottom: var(--m-1-8);
  font-size: var(--m-fs);
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6rem;
}

/* =====>>  Skills Bars Css  <<===== */
.skills ul li {
  font-size: var(--m-fs);
  line-height: 1.8rem;
  margin: var(--m-0-5);
  color: var(--f2-color);
  font-weight: 500;
}

.skills ul li::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  background: var(--bg3-color);
  animation: skills 8s linear infinite;
}

@keyframes skills {
  0% { width: 50%; filter: hue-rotate(180deg); }
  50% { width: 0; }
  100% { width: 50%; filter: hue-rotate(0); }
}

/* ===== =====>>  User Details Css  <<===== ===== */
.userDetails .userName h1 {
  font-size: var(--xxxl-fs);
}

.userDetails .userName p {
  font-size: var(--m-fs);
  font-weight: 700;
  color: var(--f5-color);
  margin-bottom: var(--m-1-8);
}

.userDetails .rank .heading {
  font-size: var(--xs-fs);
  color: var(--f4-color);
  text-transform: uppercase;
  margin-bottom: var(--m-0-6);
}

.userDetails .rank span {
  font-size: var(--xxl-fs);
  font-weight: 700;
  color: var(--f5-color);
}

.userDetails .btns ul li {
  display: flex;
  align-items: center;
  margin-right: var(--m-2-5);
  border-radius: 0.5rem;
}

.userDetails .btns ul li a {
  font-size: var(--l-fs);
  color: var(--f2-color);
  font-weight: 500;
}

.userDetails .btns ul .active {
  background: #e6f2ff;
  padding: var(--p-0-5) var(--p-1-5);
}

.userDetails .btns ul .active a {
  color: var(--f5-color);
}
